# <center>Flight Delay Prediction</center>

<div style="text-align: justify">
In the last decades, with the vast amount of digital data generated from various sources such 
as social media websites, social networks, audio and video content, and commercial and 
financial data, there has been a need for effective solutions to understand and extract 
information from this vast amount of data. Traditional data analysis approaches cannot handle 
large, complex datasets or cope with big data in general. To address the challenges of big data 
analysis, machine learning techniques coupled with scalable parallel computing systems have 
been combined as a promising solution. By leveraging parallel machine learning algorithms, 
scalable computing, and storage infrastructures, it becomes possible to analyze massive and 
intricate datasets, yielding valuable insights within reasonable timeframes (Talia and Trunfio, 
2012). The aim of the proposal is utilization to explore the utilization of parallel computing 
techniques to tackle a major economic challenge in big data analytics: flight delay prediction. 
Each year, around 20% of airline flights experience delays or cancellations, primarily 
attributed to factors such as adverse weather conditions, carrier equipment issues, and 
technical problems at airports. These delays incur substantial costs for both airlines and 
passengers. For example, in 2007, flight delays were estimated to have cost the US economy 
$32.9 billion, with more than half of the financial burden borne by passengers (Ball et al., 
2010). Accurate and timely weather forecasts are essential to making informed 
decisions and minimizing potential risks. Flight delays due to adverse weather conditions can have significant economic and 
operational consequences for airlines, passengers, and the entire air transport system. Big data 
techniques have been proposed to load, store, manage, and analyze that vast amount of weather data with several data mining algorithms to predict flight delays based on weather observations. By applying big data analytics to the weather forecasting dataset, the challenges associated with traditional data management techniques and technologies can be solved. 
The core of this research proposal is to evaluate the influence of weather observation factors 
on flight delays. Also, build a predictor model to accurately predict the departure flights 
delays according to weather observations using a big data analytics approach through the 
process of analyzing huge amounts of weather and flight data to detect correlations and 
insights. That enables better decision-making and potentially reduces the impact of weather related delays.

</div>

## Loading the neccessary libraries and packages

In [5]:
# pandas used for data manipulation and analysis, providing data structures like DataFrames for working with tabular data. 
import pandas as pd  

# numpy is numerical Python, the fundamental package for scientific computing in Python.  
import numpy as np    

# seaborn is a data visualization library based on Matplotlib that designed to create informative and attractive statistical graphics.
import seaborn as sns

# Extends the capabilities of pandas to allow for working with geospatial data.
import geopandas as gpd

# Creating interractive graphs.
import plotly.express as px
import plotly.graph_objs as go

# A common library for creating static, animated, and interactive visualizations in Python.
import matplotlib                    # pyplot module

# Pretty-print lists, tuples, & dictionaries recursively in a human-readable format.
import pprint                        

# Providing a high level interface for creating various types of plots and charts.
import matplotlib.pyplot as plt

In [6]:
# Taking care of jupyter environment 
# show graphs in-line, and turn on/off pretty_printing of lists
%matplotlib inline 
%pprint

Pretty printing has been turned OFF

In [7]:
#ignore warning 
import warnings
warnings.filterwarnings("ignore")

In [8]:
# retina quality: to better display the plots. Any display with retina resolution will make the figures look better
# if your monitor's resolution is sub-retina than the improvement will be less noticeable [2].
%config InlineBackend.figure_format = 'retina'
sns.set_context('talk')

## Exploratory Data Analysis(EDA)¶

#### Reading Data from Files

https://www.kaggle.com/code/dansteveadekanbi/predict-the-delay-of-a-flight-using-minutes/input?select=full_data_flightdelay.csv

In [9]:
# Read the dataset from the CSV file
df = pd.read_csv('weather_flightdelay.csv')

#### Observing and describing data

In [10]:
# Display the first five obsevations on the dataframe
df.head()

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,1,7,0,0800-0859,2,1,25,143,Southwest Airlines Co.,13056,...,8,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
1,1,7,0,0700-0759,7,1,29,191,Delta Air Lines Inc.,13056,...,3,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
2,1,7,0,0600-0659,7,1,27,199,Delta Air Lines Inc.,13056,...,18,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
3,1,7,0,0600-0659,9,1,27,180,Delta Air Lines Inc.,13056,...,2,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91
4,1,7,0,0001-0559,7,1,10,182,Spirit Air Lines,13056,...,1,McCarran International,36.08,-115.152,NONE,0.0,0.0,0.0,65.0,2.91

In [11]:
# Display the last five obsevations on the dataframe
df.tail()

,MONTH,DAY_OF_WEEK,DEP_DEL15,DEP_TIME_BLK,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,CARRIER_NAME,AIRPORT_FLIGHTS_MONTH,...,PLANE_AGE,DEPARTING_AIRPORT,LATITUDE,LONGITUDE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
6489057,12,7,0,2300-2359,1,11,3,123,Hawaiian Airlines Inc.,1318,...,18,Lihue Airport,21.979,-159.346,Honolulu International,0.06,0.0,0.0,84.0,15.21
6489058,12,7,0,1800-1859,1,11,2,123,Hawaiian Airlines Inc.,1318,...,16,Lihue Airport,21.979,-159.346,Honolulu International,0.06,0.0,0.0,84.0,15.21
6489059,12,7,0,2000-2059,1,11,2,123,Hawaiian Airlines Inc.,1318,...,18,Lihue Airport,21.979,-159.346,Honolulu International,0.06,0.0,0.0,84.0,15.21
6489060,12,7,0,2100-2159,1,12,3,123,Hawaiian Airlines Inc.,1318,...,18,Lihue Airport,21.979,-159.346,Honolulu International,0.06,0.0,0.0,84.0,15.21
6489061,12,7,1,2100-2159,1,12,3,123,Hawaiian Airlines Inc.,1318,...,15,Lihue Airport,21.979,-159.346,Honolulu International,0.06,0.0,0.0,84.0,15.21

In [12]:
# .shape() method returns a tuple representing the dimensionality of the DataFrame, 
# which means the number of rows and columns in our data frame[5].
df.shape

(6489062, 26)

The dataset contains 6489062 rows and 26 columns.

In [13]:
# Display the header 
df.columns

Index(['MONTH', 'DAY_OF_WEEK', 'DEP_DEL15', 'DEP_TIME_BLK', 'DISTANCE_GROUP',
       'SEGMENT_NUMBER', 'CONCURRENT_FLIGHTS', 'NUMBER_OF_SEATS',
       'CARRIER_NAME', 'AIRPORT_FLIGHTS_MONTH', 'AIRLINE_FLIGHTS_MONTH',
       'AIRLINE_AIRPORT_FLIGHTS_MONTH', 'AVG_MONTHLY_PASS_AIRPORT',
       'AVG_MONTHLY_PASS_AIRLINE', 'FLT_ATTENDANTS_PER_PASS',
       'GROUND_SERV_PER_PASS', 'PLANE_AGE', 'DEPARTING_AIRPORT', 'LATITUDE',
       'LONGITUDE', 'PREVIOUS_AIRPORT', 'PRCP', 'SNOW', 'SNWD', 'TMAX',
       'AWND'],
      dtype='object')

Let's define the dataframe columns


- Month --> Months of the year (1-12)
- DAY_OF_WEEK --> Day of the month (1-31)
- DEP_DEL15 --> TARGET VARIABLE Binary if delayed over 15 min, 1 is yes
- DEP_TIME_BLK --> Departure time block
- DISTANCE_GROUP --> Flight distance group
- SEGMENT_NUMBER --> The segment that this tail number is on for the day
- CONCURRENT_FLIGHTS --> Concurrent flights leaving from the airport in the same departure block
- NUMBER_OF_SEATS --> Seats number
- CARRIER_NAME --> Air carrier
- AIRPORT_FLIGHTS_MONTH --> Average monthly airport flights
- AIRLINE_FLIGHTS_MONTH --> Average monthly airline flights 
- AIRLINE_AIRPORT_FLIGHTS_MONTH --> Average monthly flight count for both airlines and airports.
- AVG_MONTHLY_PASS_AIRPORT --> Average monthly departing airport passenger count.
- AVG_MONTHLY_PASS_AIRLINE --> Average monthly passenger count for the airline.
- FLT_ATTENDANTS_PER_PASS --> Flight attendants per passenger for airline
- GROUND_SERV_PER_PASS --> Ratio of ground service employees (service desk) per passenger for the airline.
- PLANE_AGE --> Age of departing aircraft
- DEPARTING_AIRPORT --> Airport of departure.
- LATITUDE --> Latitude of the departure airport.
- LONGITUDE --> Longitude of the departure airport.
- PREVIOUS_AIRPORT --> The airport from which the aircraft previously departed.
- PRCP -->  Precipitation
- SNOW --> Snowfall 
- SNWD --> Snow Depth
- TMAX --> Max temperature for day
- AWND --> Max wind speed for day

In [14]:
def displayColumnsValues(data):
    '''
       To print the unique values for each feature (column)
    '''
    for i in data.columns:
        print(80*'=','\n',i,'has',
          df[i].nunique(),'value/s:\n',        # .nunique(): Count number of distinct elements in each column.
          df[i].unique())                      # .unique() method returns an array with the unique values.

In [15]:
# calling the displayColumnsValues() function
displayColumnsValues(df)

================================================================================
 MONTH has 12 value/s:
 [ 1  2  3  4  5  6  7  8  9 10 11 12]
================================================================================
 DAY_OF_WEEK has 7 value/s:
 [7 5 3 4 2 1 6]
================================================================================
 DEP_DEL15 has 2 value/s:
 [0 1]
================================================================================
 DEP_TIME_BLK has 19 value/s:
 ['0800-0859' '0700-0759' '0600-0659' '0001-0559' '2300-2359' '1200-1259'
 '0900-0959' '1000-1059' '2200-2259' '1500-1559' '1100-1159' '2000-2059'
 '1400-1459' '1300-1359' '1800-1859' '1900-1959' '1600-1659' '1700-1759'
 '2100-2159']
================================================================================
 DISTANCE_GROUP has 11 value/s:
 [ 2  7  9  3  6  8  1  4 11  5 10]
================================================================================
 SEGMENT_NUMBER has 15 value/s:
 [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
================================================================================
 CONCURRENT_FLIGHTS has 107 value/s:
 [ 25  29  27  10  17  26  28   9  18  24  32  21  12  30   5  22  23  15
   2   3   6   7   4   1  16  11  13  14   8  52  55  49  48  40  37  36
  46  57  75  44  47  39  51  19  20  35  33  59  31  42  79  63  41  65
  56  88  80  84  93  69  38  34  66  74  43  58  60  54  61  50  67  72
  83  82  89  78  53  91  64  70  62  45  77  87  68  73  92  71  76  81
  86  85  90  94  98  97  95 108 106  96 107 109 101 100 102 104 105]
================================================================================
 NUMBER_OF_SEATS has 82 value/s:
 [143 191 199 180 182 186 149 119 146 181 294 187 173 142 154 110 160 162
 129 175 178 176  76 150 145 190 234 216 128 228 168 230 172 185 120 100
 200 247 179 169 157 226  50 132  69  44 140  70  66  99  65  90 159 193
 124 267 291 158 209 273 189 285 293 337 170 102 211 246 188 235 219 123
  79 198 288 276 306 304 109 208 196 281]
================================================================================
 CARRIER_NAME has 17 value/s:
 ['Southwest Airlines Co.' 'Delta Air Lines Inc.' 'Spirit Air Lines'
 'Frontier Airlines Inc.' 'Alaska Airlines Inc.' 'Hawaiian Airlines Inc.'
 'American Airlines Inc.' 'United Air Lines Inc.' 'JetBlue Airways'
 'Allegiant Air' 'SkyWest Airlines Inc.' 'Mesa Airlines Inc.'
 'American Eagle Airlines Inc.' 'Midwest Airline, Inc.' 'Comair Inc.'
 'Endeavor Air Inc.' 'Atlantic Southeast Airlines']
================================================================================
 AIRPORT_FLIGHTS_MONTH has 969 value/s:
 [13056 11861  1561  4677  4308 10155 23400  7835  2327  6506  3215  8569
 17725 30842  1380 13115  4710  3928  1528  3710  9288  3383  3932 10728
  6023  1282 14576  7380  4887 11956  1134 11784  8899 10278  1754 13375
  5091  2294 18286  1955  3689  4544  1319  1891 18811  2641  1740  1824
  2408  5092 22775  1160  2283  1876  1392  7465 11206  1190  1304  6118
  4124  1694 10281  3598  3859  1745  3561  1858  5629  1294 14501  4845
  1388  1326  1665  1292  3708  4925  1633  1191  1202  2092  2293  9408
 15964 10780 28011  2459  1536 10502 10714  9017 16530  1560  4595  3262
 10243 22752  9514 10782  2165  6562  1784  1253  1446  1225 17206  4274
 11500 20700 12355  3447  2117  7168  4321  5906  3557  1211  2320  8345
 13272  3363  3837  1751  4166  5115  1222 11708  4500  1549  4257  2928
  3508  1314  1711  1650  4643  1135  5337  5558  6598  3504  3031  4273
 13281  8143  7878  1609  3548  1396  1585  1273  1634  3491  1334  2006
  1242  1287  1864 15902 11110 11006  4846  4886  3912 33799  7612  1354
  5670 14450 11965  1591 13492  4197  9887  5464  3426 13989 12338 18465
  5701  8365 11562 13764  4122  4028  9511  5137 13625 18951 13151  2368
 23912  7417  1555  1519  6835  1646  1361  1836  4610  5102  3488  6781
  1545  4625  1627  9353  1619  4223 27137  4192  7956  2139 19559  1865
  1886 15597  2776  4883  2146  1247  2012  1176  2831  4367  2963  6018
  4143  1118  2121  2542  1551  2172  1195  1141  2038  1930  1466  1375
  2135  1278  1133  1463  1181  1245  1180 10917 22914 18788  8520  9556
  2650  5513 11972  4066  6761 14524  8560 12669  2167  4026 32678 13176
  9191 12902  6763 18979 14138 17522 13675 26142  7011 10372 11588  3380
  3272  5150  4039  3815  2127  4117  7450  4461  6837 11666  1481  5345
  1993  1889  1806  5737 13252  4919  2093  1430  4938  4035  1514  3690
  2546  4701  1372  2598  2429 14827  1455  4061  1500  5669  1548  1250
  1509  1335  2095  2884  1115  1989  2080  1130  1719  1682  1507  1340
  4722  1367  1205  4264  2137  1520  1103  1168  1567 13575  7716 10815
  7357  5664  4287  6245 14570 25360  2588  9517  8923  1194 19807  1342
  4271  4242  3968 28802 34238  5040 11944  3528  4357 11587 14131 12849
 10452  3353 14978  3007 12037  1376  1593 11737  8145 13810  2003  2173
  5800 20794  4477  5562  1155 18013  2558 14585  4641  1566  1662  2325
  4201  4875 14018  1272  6976  1613  2376  2371  2247  1516  1189  5139
  5790  1209  5171  2132  1470  2105  2125  2130  1252  7067  4511  1474
  1495  1276  1110  5794  1338  2424  2332  1172 10606  4086  3979  2229
 14546 14197  2965  9694 10792 28904  1688  2064  5661  4208  2051  4282
  1161  1100 13872 33994 11017  2312 19087 14033  5482  1625  2230  1575
  2562  4183  1478  2020  2091  1408  3386  2101  4507  7929 11645  4232
  1201 18543 12427  7617 12887 13568 13892  1403  8896  5971  6981  5711
  2303  1928  1131 10055 21878 14595  3351  1156  2086  4733 25390  6007
  7008  4606  5529  4615  1199  1916  7052  2081  4967  5313  1424  1427
  1359  1557  1532  2663  1699  5891  2440  1445  1241 14046  8408 35086
 13900 15196 14313  7705 19534  1598  5978 10124 12603  9190 10704 19667
  6008  4685  7162 14924 29376  1233  5540  1480 10275 15391  4623  2288
 12133  1817  1691 13781 23471  7297  6107  1214  2100  4310  2098  4154
  1105 26639  2304  1785  2630  4275  4068  1153  7261  2250  4493  2983
  5847  1766 14275  4749  4753 11201  3560  2085  2119  1728  2349  1432
  6167  1210  3445  1441  1611  6204  2108  5622  1212  1559  2043  5248
  1295  1407  2141  1165  1152  2521  1289  6143 10253  2346  2579  2238
  4599 35256  4088  6059 15106 14631  1748  5606  5832 14476 27148 10855
  7044  3463  5871  1251  1644 14049  1705  1448 16527  2079  2074  3495
  2134  4293  2196  1243  2334  1867 29971  8397  4742  5935  2170  2890
  7303  5745  1259 15076 13118  1472  4628  1418  4650  2120  2113 19609
  2437 23099  2215  1450 14177  1701  1517  5552  1162  1203 10613  4301
  1487 11012  7501  4726  5059  1669 11484 14220  4010  2891  4171 19791
  9144  7209 11384  2187  1254  3900 31713 28583 19380 12203  3337  6520
 11294 17615  4254 12249 10832  5195 10172 13264  5614 13331 13885  2510
  4502  5306  9403  1378  2050  4451  5294 12778 21760  9688  7620  2049
  1565  3288  1290  8363  2484 25530  9468  4580  1951 13480  2185  5475
  6740  1640 13783  6886 14118  3760  4782  1970  5445  1497  1465  5646
  4099  2004  1231  6006  1147  6791  1600  1159  4113  1635  1946  2035
  2028  1320  1533  1124  1964  4389  2024  2729  1175  1244  1802  1351
  2189  7550  8879 25833  1420  4410  5078  1667 11962 18105 22355 14566
  1389 14057  6015 33584  1264 11393  4248  1426  5961  6261 15277 29960
 10218  5593 14630  1562  7503  5353 20449  4055 11970  4135 13751 13457
  4180  5901  5902 14544 11827  7379  4760  2796  1228  1337  4384  7903
  9788  1760  3507 14324  2593  1607  5536  4605  7177  2213  4548  5014
  1629  1539  2246  2166  1881  1216  2932  2078  3395 10451  1280 14016
  5532 12563 24926 13392  2082  9644  2044 12418 17358  9943  1584  2391
  5442  4165  9031  4338 13199 13136  5942 10968  3207 31151  1323  7096
 26830 11407  1941  6491  2338  1686  1996 12038  3798  6814  1177  3240
  4263  1148  1512  4104  7286  4037  2176 13490  2257  3780 20118  3144
  1573  1932  5061  4956  8800  5954  2550  1136  2001  1564 19569  5467
  1229 14858  1352  8495  4743  6486  4230  1301  1362  2243  4718  2627
 11105  1267  1260  1381  1471 12223  1727 13603  6798  4781  1138 18534
 15328  1154  1170 13493  4453 10395  1369  4098  7643  2603 11092  1605
 32251  1927  4387 12269  7211  5567 13152  1556  8367  9282  4058 11326
  4332 13645 10053  3747  2034  1537 12707  8974  5758  5359 27188  2009
  5594  3367  9612 21145  1107 25322  4946  2007 13019  4112  2039  1765
  2016  2490 19683  1645  1316  3359  4785  2716 15165  2161  2642  2002
  6228  6712  1109  1318  1411  1125  3880  1200  1456]

================================================================================
 AIRLINE_FLIGHTS_MONTH has 204 value/s:
 [107363  73508  15023   9496  20315   6791  75506  46218  23463   6713
  62105  17869  23760  24623  22418  19857  12231  70199  21895  17673
  22053  67273   6020  18154  22834  56790  20452   7180  94922   8643
  13447  43512  15953  10920  84142  21427  78308  18407  25502  53007
  68810 114119   6850   9663  17034  26361  22191  26929  24032  10218
  12510  74131  51763  81803  24966  21136 110752  16316   6893  67082
  25138  26476  17692   9637  20645   9219  23434  10452  22451  53980
  85579  78894  20860  17814  24886  27470  18618 113709  11254  70878
  27761   7217   8739  24260   9008  87183  71188  76419  21319  24204
  23065   7173  27159  26990  18858  11037  53737 112879   9184  17553
  11337  24179  18428  11745  79247  90457 117728  55374  12247  24454
  25142   7329  72721  19483  10613  21554  26909  24403  28267  74087
  91062 114987  24460  25270  80820  28070  12252  55706  10677  19375
  24496  28893   8693  22671   7348  18296 107436  26473  23208  20800
  11895  51239  10882  81338  76533  27183  18551   5582  66731  21620
  15996  23638   6858 115051  16797   7860  54923  80161  86312  24795
  12581  22073  21403  28628  71625  27632  19369  10329  24198   7105
  17350  66502  77179  49915 108130  79989  18459  12129   6902  20832
  24694  11090  23395  27026  20783  25517   8115 113248  79228  17201
  51152  28319  21752  81498  23119   7268  25034  12128  70473  26721
  18545  24003  10970   9311]
================================================================================
 AIRLINE_AIRPORT_FLIGHTS_MONTH has 2119 value/s:
 [5873 1174 1257 ... 2627 5816  757]
================================================================================
 AVG_MONTHLY_PASS_AIRPORT has 96 value/s:
 [1903352 1823051  171473  573075  477995 1960746 3103410 1413432  279230
  874468  401950 1391212 2780593 4365661  125614 1908862  800302  719055
  178166  404840 1065782  429725  525035 1472200  732595   90611 1827202
 1023434  690385 1581456  121022 1486066 1297685 1680928  154047 1208249
  780326  259669 2743323  204019  389847  564680  103338  191927 2006675
  289569  204691  178477  283617  642980 2907365  106382  270922  165894
  148882 1093478  955406   89733  222594  673221  529046  220025 1708599
  364314  385767  170270  344196  182555  819756  161957 1690031  614236
  126323  145475  197188  118923  404265  589072  216694  154082  146009
  301832  364406  133573  106354  105972  124691   90547  125198   96822
   74283   70476  106734   91571   90681  162026]
================================================================================
 AVG_MONTHLY_PASS_AIRLINE has 17 value/s:
 [13382999 12460183  2688839  1857122  2884187   905990 11744595  8501631
  3190369  1257616  3472966  1191889  1204766  1529740  1245396  1212846
   473794]
================================================================================
 FLT_ATTENDANTS_PER_PASS has 14 value/s:
 [6.17823630e-05 1.44165885e-04 9.17372393e-06 1.15725648e-04
 3.23314616e-05 1.20494218e-04 9.82082929e-05 2.53804241e-04
 1.60038925e-04 1.32525801e-05 3.41926740e-05 0.00000000e+00
 3.48407666e-04 1.25293582e-06]
================================================================================
 GROUND_SERV_PER_PASS has 17 value/s:
 [9.88941231e-05 1.48660201e-04 1.24651073e-04 7.13469487e-06
 1.74601450e-04 1.97849666e-04 1.77287220e-04 2.28985473e-04
 1.26866176e-04 1.07743476e-04 9.90027881e-05 9.13115712e-05
 1.06867152e-04 1.23822744e-04 8.99981057e-05 9.35127762e-05
 1.99805366e-04]
================================================================================
 PLANE_AGE has 33 value/s:
 [ 8  3 18  2  1  5 12  7  4  6 22 19 21 20 11 15 14 16 13 17  9 10 27 28
 25 23 29 26 24 32 31 30  0]
================================================================================
 DEPARTING_AIRPORT has 96 value/s:
 ['McCarran International' 'Orlando International' 'Boise Air Terminal'
 'Raleigh-Durham International' 'Kansas City International'
 'Seattle International' "Chicago O'Hare International"
 'Miami International' 'General Mitchell Field' 'Tampa International'
 'San Antonio International' 'Fort Lauderdale-Hollywood International'
 'Los Angeles International' 'Atlanta Municipal' 'Tulsa International'
 'San Francisco International' 'Portland International'
 'Honolulu International' 'Reno/Tahoe International'
 'Southwest Florida International' 'Salt Lake City International'
 'Orange County' 'Sacramento International' 'Logan International'
 'Nashville International' 'Palm Springs International'
 'Phoenix Sky Harbor International' 'San Diego International Lindbergh Fl'
 'Austin - Bergstrom International' 'Minneapolis-St Paul International'
 'Savannah/Hilton Head International' 'Detroit Metro Wayne County'
 'Philadelphia International' 'John F. Kennedy International'
 'Tucson International' 'LaGuardia' 'Washington Dulles International'
 'Hollywood-Burbank Midpoint' 'Stapleton International' 'Eppley Airfield'
 'Indianapolis Muni/Weir Cook' 'Louis Armstrong New Orleans International'
 'McGhee Tyson' 'Memphis International' 'Douglas Municipal'
 'Jacksonville International' 'Greater Buffalo International'
 'Will Rogers World' 'Palm Beach International'
 'Lambert-St. Louis International' 'Dallas Fort Worth Regional'
 'Greenville-Spartanburg' 'Bradley International' 'Norfolk International'
 'Kent County' 'Friendship International'
 'Ronald Reagan Washington National' 'Piedmont Triad International'
 'Anchorage International' 'Dallas Love Field'
 'Metropolitan Oakland International' 'Albuquerque International Sunport'
 'Newark Liberty International'
 'Cincinnati/Northern Kentucky International' 'Pittsburgh International'
 'Standiford Field' 'Port Columbus International' 'Richmond International'
 'Chicago Midway International' 'Theodore Francis Green State'
 'Houston Intercontinental' 'San Jose International' 'Birmingham Airport'
 'El Paso International' 'Charleston International' 'Des Moines Municipal'
 'Cleveland-Hopkins International' 'William P Hobby'
 'Ontario International' 'Keahole' 'Long Beach Daugherty Field'
 'Kahului Airport' 'Puerto Rico International' 'Lihue Airport'
 'Rochester Monroe County' 'Syracuse Hancock International'
 'Albany International' 'Adams Field' 'Sanford NAS' 'Truax Field'
 'Northwest Arkansas Regional' 'James M Cox/Dayton International'
 'Myrtle Beach International' 'Pensacola Regional'
 'Portland International Jetport' 'Spokane International']
================================================================================
 LATITUDE has 96 value/s:
 [36.08  28.432 43.565 35.875 39.298 47.447 41.978 25.792 42.95  27.973
 29.533 26.074 33.942 33.641 36.198 37.619 45.589 21.319 39.498 26.536
 40.784 33.676 38.696 42.364 36.127 33.827 33.436 32.733 30.194 44.886
 32.127 42.217 39.868 40.639 32.116 40.779 38.942 34.2   39.774 41.302
 39.729 29.991 35.812 35.05  35.219 30.485 42.941 35.392 26.682 38.747
 32.894 34.899 41.939 36.896 42.881 39.176 38.852 36.092 61.169 32.847
 37.721 35.042 40.696 39.048 40.497 38.18  39.991 37.505 41.785 41.728
 29.983 37.363 33.563 31.807 32.899 41.534 41.411 29.645 34.056 19.739
 33.818 20.901 18.44  21.979 43.121 43.111 42.746 34.729 28.775 43.142
 36.282 39.901 33.679 30.473 43.644 47.62 ]
================================================================================
 LONGITUDE has 96 value/s:
 [-115.152  -81.325 -116.225  -78.782  -94.714 -122.306  -87.906  -80.286
  -87.897  -82.535  -98.469  -80.152 -118.408  -84.427  -95.89  -122.375
 -122.595 -157.922 -119.768  -81.755 -111.967 -117.867 -121.59   -71.006
  -86.682 -116.505 -112.009 -117.187  -97.67   -93.218  -81.202  -83.344
  -75.249  -73.777 -110.941  -73.876  -77.458 -118.358 -104.88   -95.893
  -86.282  -90.251  -83.992  -89.979  -80.936  -81.688  -78.736  -97.602
  -80.094  -90.364  -97.03   -82.214  -72.683  -76.201  -85.524  -76.671
  -77.037  -79.943 -149.985  -96.853 -122.221 -106.606  -74.172  -84.669
  -80.236  -85.739  -82.878  -77.32   -87.752  -71.426  -95.34  -121.941
  -86.756 -106.377  -80.039  -93.657  -81.849  -95.279 -117.601 -156.046
 -118.151 -156.434  -66.002 -159.346  -77.671  -76.102  -73.805  -92.234
  -81.24   -89.337  -94.307  -84.22   -78.93   -87.188  -70.304 -117.533]

================================================================================
 PREVIOUS_AIRPORT has 356 value/s:
 ['NONE' 'Phoenix Sky Harbor International' 'San Francisco International'
 'Salt Lake City International' 'Orange County' 'Portland International'
 'Spokane International' 'Metropolitan Oakland International'
 'Seattle International' 'Port Columbus International'
 'Cleveland-Hopkins International' 'Austin - Bergstrom International'
 'Los Angeles International' 'General Mitchell Field'
 'Sacramento International' 'Atlanta Municipal' 'Reno/Tahoe International'
 'Stapleton International' 'Detroit Metro Wayne County'
 'San Diego International Lindbergh Fl' 'Friendship International'
 'Chicago Midway International' 'Ontario International' 'Eppley Airfield'
 'Tucson International' 'Boise Air Terminal'
 'Lambert-St. Louis International' 'Nashville International'
 'San Jose International' 'Dallas Love Field'
 'Indianapolis Muni/Weir Cook' 'Orlando International'
 'Hollywood-Burbank Midpoint' 'Kansas City International'
 'William P Hobby' 'San Antonio International' 'Houston Intercontinental'
 'Minneapolis-St Paul International' 'Ronald Reagan Washington National'
 "Chicago O'Hare International" 'Washington Dulles International'
 'McCarran International' 'Newark Liberty International'
 'Wichita Mid-Continent' 'Tampa International' 'Miami International'
 'Dallas Fort Worth Regional' 'John F. Kennedy International'
 'Logan International' 'Cincinnati/Northern Kentucky International'
 'Raleigh-Durham International' 'Michiana Regional' 'Kent County'
 'Glacier Park International' 'Grand Island Air Park'
 'Memphis International' 'Grand Forks International'
 'Northwest Arkansas Regional' 'Quad City International'
 'Honolulu International' 'Scott AFB' 'Midland Regional Air Trml'
 'Birmingham Airport' 'Fort Lauderdale-Hollywood International'
 'Long Beach Daugherty Field' 'Bismarck Municipal' 'Laredo AFB'
 'Fresno Air Terminal' 'Albuquerque International Sunport'
 'Louis Armstrong New Orleans International' 'Philadelphia International'
 'Greater Buffalo International' 'Adams Field' 'Tulsa International'
 'Will Rogers World' 'Douglas Municipal' 'Rapid City Regional'
 'Bellingham International' 'Williams Gateway' 'El Paso International'
 'Amarillo International' 'Joe Foss Field' 'Gallatin Field'
 'Stockton Metropolitan' 'Peterson Field' 'Pittsburgh International'
 'Lubbock Regional' 'Westchester County' 'Theodore Francis Green State'
 'Ramey AFB' 'Richmond International' 'Puerto Rico International'
 'Syracuse Hancock International' 'Ponce Airport' 'LaGuardia'
 'Bradley International' 'Nafec Atlantic City' 'Norfolk International'
 'Standiford Field' 'Long Island MacArthur'
 'Grenier Field/Manchester Municipal' 'Latrobe Airport' 'Mercer County'
 'Albany International' 'Asheville Regional' 'Rochester Monroe County'
 'Piedmont Triad International' 'Lafayette Regional'
 'Portland International Jetport' 'McGhee Tyson' 'Sanford NAS'
 'Southwest Florida International' 'Charlotte County'
 'Anchorage International' 'Juneau International'
 'Fairbanks International' 'Palm Springs International'
 'Santa Barbara Municipal' 'Charleston International'
 'Ketchikan International' 'James M Cox/Dayton International'
 'Hector Field' 'Rochester Municipal'
 'Wilkes Barre Scranton International' 'Duluth International'
 'Truax Field' 'Des Moines Municipal' 'Waterloo Regional'
 'Lehigh Valley International' 'Evansville Dress Regional'
 'Dubuque Regional' 'Springfield-Branson National' 'Cherry Capital'
 'Harrisburg International' 'Bishop International'
 'Greenville-Spartanburg' 'Houghton County Memorial'
 'Aspen Pitkin County Sardy Field' 'Eau Claire Municipal'
 'Fort Wayne Municipal' 'Tri City' 'Cedar Rapids Municipal'
 'Outagamie County Regional' 'La Crosse Municipal' 'Akron-Canton Regional'
 'Greater Peoria' 'University of Illinois/Willard' 'Sioux City Gateway'
 'Palm Beach International' 'Barkley Regional' 'Lovell Field' 'Blue Grass'
 'Austin Straubel International' 'Charlottesville Albemarle'
 'Eagle County Regional' 'Sarasota/Bradenton Airport'
 'Jacksonville International' 'Pensacola Regional' 'Columbia Regional'
 'Valley International' 'Savannah/Hilton Head International'
 'Yampa Valley' 'Manhattan Regional' 'Jackson Hole'
 'Cape Girardeau Regional' 'Benedum' 'Salina Municipal'
 'Shenandoah Valley Regional' 'Capital City' 'Central Wisconsin'
 'Key Field' 'Tallahassee Regional' 'Alexander Hamilton'
 'Gainesville Regional' 'Harry S Truman' 'Key West International'
 'Niagara Falls International' 'Plattsburgh International'
 'Myrtle Beach International' 'Worcester Regional' 'Concord Regional'
 'St George Municipal' 'Mahlon Sweet Field' 'Roberts Field'
 'Medford Jackson County' 'Arcata' 'Monterey Peninsula'
 'San Luis Obispo County Regional' 'Kahului Airport' 'Keahole'
 'Charles M. Schulz - Sonoma County' 'Mammoth Lakes Airport'
 'Walker Field' 'Friedman Memorial' 'Provo Municipal' 'Prescott Municipal'
 'Patrick Henry International' 'Fayetteville Regional/Grannis Field'
 'Northwest Florida Regional' 'Gulfport-Biloxi International'
 'Central Illinois Regional' 'Roanoke Regional/Woodrum Field'
 'England AFB' 'Monroe Regional' 'Valdosta Regional' 'Dothan Regional'
 'Glynco Jetport' 'Tri-Cities Regional TN/VA' 'Shreveport Regional'
 'Dannelly Field' 'Baton Rouge Metropolitan/Ryan Field'
 'Southwest Georgia Regional' 'Kanawha' 'Bush Field'
 'Daytona Beach Regional' 'Melbourne Regional'
 'Huntsville International-Carl T Jones Field' 'Allen C Thompson Field'
 'Columbia Metropolitan' 'Wilmington International'
 'Northwest Florida Beaches International' 'Fort Smith Regional'
 'Burlington International' 'Albert J Ellis' 'Golden Triangle Regional'
 'Lincoln Airport' 'Craven County Regional' 'Columbus Metropolitan'
 'Mobile Regional' 'Meadows Field' 'Redding Municipal'
 'Joslin Field - Magic Valley Regional' 'North Bend Municipal'
 'Tri Cities' 'Montrose Regional' 'Lihue Airport' 'General Lyman Field'
 'Missoula International' 'Billings Logan International' 'Helena Regional'
 'Bert Mooney' 'Fanning Field' 'Great Falls International'
 'Casper/Natrona County International' 'Lewiston Nez Perce County'
 'Pocatello Regional' 'Cedar City Regional' 'Toledo Express' 'Capital'
 'Muskegon County' 'Quincy Regional-Baldwin Field' 'Marquette County'
 'Kalamazoo/Battle Creek International' 'Greenbrier Valley'
 'Yuma MCAS/Yuma International' 'Flagstaff Pulliam' 'La Plata County'
 'Roswell International Air Center' 'Santa Fe Municipal'
 'Brainerd/Crow Wing County' 'Bemidji Municipal' 'Minot International'
 'Aberdeen Regional' 'Sloulin Field International'
 'Rhinelander/Oneida County' 'Kincheloe AFB' 'Chisholm/Hibbing' 'Ford'
 'Falls International' 'Elko Regional' 'Ithaca Tompkins Regional'
 'Greater Binghamton/Edwin A. Link Field' 'Erie International'
 'State College Air Depot' 'Pellston Regional Airport of Emmet County'
 'Phelps/Collins' 'Delta County' 'Stewart International' 'Tweed New Haven'
 'Watertown International'
 'Santa Maria Public/Capt. G. Allan Hancock Field' 'Bangor International'
 'General Brees Field' 'Yellowstone Regional' 'Gillette Campbell County'
 'William B. Heilig Field' 'Rock Springs Sweetwater County'
 'Kearney Regional' 'Vernal Regional' 'Hays Municipal' 'Pueblo Memorial'
 'Jamestown Regional' 'North Platte Regional Airport Lee Bird Field'
 'Devils Lake Regional' 'Liberal Municipal' 'Canyonlands Field'
 'St. Petersburg-Clearwater International' 'Hilton Head Airport'
 'Lynchburg Regional/Preston Glenn Field' 'Abilene Regional'
 'Del Rio International' 'Jefferson County' 'McAllen Miller International'
 'Sheppard AFB/Wichita Falls Municipal' 'Lake Charles Regional'
 'Garden City Municipal' 'Robert Gray AAF'
 'Brownsville South Padre Island International' 'Joplin Municipal'
 'Lawton-Fort Sill Regional' 'Texarkana Muni/Webb Field' 'Waco Regional'
 'Corpus Christi International' 'San Angelo Regional/Mathis Field'
 'Searcy Field' 'East Texas Regional' 'Easterwood Field'
 'Cheyenne Regional/Jerry Olson Field' 'Tyler Pounds Regional'
 'Portsmouth Pease International' 'Agana Field' 'Ralph Wien Memorial'
 'Kodiak Airport' 'Nome Airport' 'Bethel Airport' 'Cordova Mile 13'
 'Wiley Post/Will Rogers Memorial' 'Lea County Hobbs'
 'Gunnison-Crested Butte Regional' 'Chicago/Rockford International'
 'Elmira/Corning Regional' 'Deadhorse Airport' 'Sitka Rocky Gutierrez'
 'Yakutat Airport' 'Adak NS' 'Petersburg James A Johnson'
 'Pago Pago International' 'Tri-State/Milton J. Ferguson Field'
 'Lockbourne AFB' 'Snohomish County Paine Field'
 'Ogdensburg International' 'Owensboro Daviess County'
 'Hagerstown Regional-Richard A. Henson Field' 'Pierre Municipal'
 'Watertown Municipal' 'Hattiesburg-Laurel Regional' 'Branson Airport'
 "Martha's Vineyard Airport" 'Nantucket Memorial' 'Yellowstone'
 'Mobile Aerospace' 'Barnstable Municipal-Boardman/Polando Field'
 'Dillingham Airport' 'King Salmon Airport' 'Pitt Greenville'
 'Williston Basin International']

================================================================================
 PRCP has 305 value/s:
 [0.000e+00 1.000e-02 6.200e-01 2.200e-01 3.200e-01 4.700e-01 1.600e-01
 3.400e-01 7.000e-02 1.000e-01 1.700e-01 2.160e+00 6.100e-01 4.800e-01
 7.300e-01 1.100e-01 1.480e+00 1.000e+00 1.240e+00 6.700e-01 8.000e-01
 5.400e-01 1.200e-01 3.300e-01 1.540e+00 7.600e-01 8.600e-01 2.450e+00
 6.500e-01 5.700e-01 3.800e-01 4.500e-01 6.900e-01 4.000e-02 1.800e-01
 8.200e-01 3.000e-02 1.170e+00 4.100e-01 8.000e-02 9.500e-01 8.800e-01
 2.800e-01 2.400e-01 1.080e+00 5.600e-01 1.330e+00 3.700e-01 1.710e+00
 7.000e-01 9.000e-02 9.800e-01 8.100e-01 2.320e+00 1.030e+00 4.600e-01
 1.900e-01 2.000e-01 5.000e-02 1.070e+00 6.000e-02 6.600e-01 8.400e-01
 9.100e-01 8.700e-01 1.500e-01 2.100e-01 2.500e-01 4.400e-01 1.100e+00
 3.600e-01 1.150e+00 2.000e-02 5.300e-01 1.400e-01 1.040e+00 2.700e-01
 6.400e-01 1.770e+00 9.600e-01 4.600e+00 2.010e+00 3.900e-01 2.900e-01
 9.400e-01 9.300e-01 1.580e+00 4.900e-01 5.000e-01 1.310e+00 1.500e+00
 7.800e-01 1.290e+00 4.200e-01 3.000e-01 2.300e-01 4.300e-01 2.130e+00
 1.440e+00 2.600e-01 1.300e-01 1.590e+00 4.000e-01 6.800e-01 5.800e-01
 5.500e-01 6.000e-01 1.200e+00 3.500e-01 3.100e-01 2.050e+00 7.500e-01
 8.900e-01 8.500e-01 5.200e-01 2.460e+00 7.900e-01 8.300e-01 7.700e-01
 1.270e+00 1.420e+00 1.180e+00 1.430e+00 2.500e+00 1.160e+00 1.640e+00
 1.360e+00 2.780e+00 1.650e+00 1.020e+00 1.620e+00 1.110e+00 6.300e-01
 7.400e-01 1.010e+00 1.220e+00 1.120e+00 2.240e+00 7.100e-01 5.900e-01
 7.200e-01 9.000e-01 1.250e+00 1.370e+00 1.390e+00 1.610e+00 1.340e+00
 9.700e-01 1.230e+00 2.040e+00 1.550e+00 1.090e+00 5.100e-01 9.900e-01
 2.090e+00 1.450e+00 1.680e+00 1.410e+00 1.520e+00 1.050e+00 5.080e+00
 1.280e+00 2.020e+00 1.460e+00 2.110e+00 1.190e+00 1.900e+00 2.690e+00
 1.840e+00 1.530e+00 1.820e+00 1.700e+00 1.730e+00 1.740e+00 1.130e+00
 1.470e+00 1.210e+00 2.360e+00 1.300e+00 2.760e+00 2.140e+00 1.870e+00
 1.670e+00 1.880e+00 1.260e+00 2.300e+00 2.100e+00 3.520e+00 1.140e+00
 1.980e+00 1.570e+00 2.430e+00 1.380e+00 3.370e+00 1.320e+00 2.200e+00
 1.800e+00 2.170e+00 2.120e+00 2.750e+00 4.460e+00 2.730e+00 1.920e+00
 1.790e+00 1.780e+00 2.950e+00 2.230e+00 9.200e-01 1.060e+00 2.560e+00
 1.910e+00 3.490e+00 1.760e+00 2.640e+00 1.560e+00 1.490e+00 2.610e+00
 2.080e+00 4.770e+00 2.960e+00 1.690e+00 3.590e+00 1.830e+00 1.400e+00
 2.890e+00 3.360e+00 3.380e+00 2.800e+00 3.900e+00 7.010e+00 4.530e+00
 4.200e+00 2.420e+00 2.270e+00 1.890e+00 3.850e+00 2.490e+00 2.370e+00
 2.310e+00 2.330e+00 2.870e+00 3.200e+00 2.070e+00 2.410e+00 2.550e+00
 3.660e+00 2.840e+00 1.660e+00 3.730e+00 2.680e+00 4.210e+00 2.670e+00
 1.810e+00 2.390e+00 2.290e+00 1.600e+00 3.320e+00 1.960e+00 2.280e+00
 2.880e+00 1.850e+00 3.300e+00 1.750e+00 1.510e+00 2.220e+00 2.770e+00
 2.530e+00 3.100e+00 2.570e+00 3.180e+00 2.590e+00 1.950e+00 1.860e+00
 1.630e+00 2.180e+00 2.000e+00 2.930e+00 2.830e+00 1.350e+00 7.460e+00
 1.720e+00 1.163e+01 3.500e+00 2.480e+00 1.039e+01 4.670e+00 3.170e+00
 2.400e+00 2.060e+00 1.940e+00 6.240e+00 2.630e+00 3.110e+00 3.390e+00
 3.010e+00 3.160e+00 2.250e+00 4.040e+00 3.250e+00 2.820e+00 7.130e+00
 2.540e+00 2.600e+00 2.190e+00 2.790e+00]
================================================================================
 SNOW has 75 value/s:
 [ 0.   0.2  2.1  1.   4.4  2.2  0.1  0.5  0.4  7.8  0.8  1.6  4.7  2.9
  0.7  0.3  3.   3.7  0.9  5.8  2.7  1.9  1.7  6.9  0.6  1.8  4.5  2.5
  7.7  1.1  4.9 13.6  3.1  6.2  1.4  1.5  4.6  4.8  1.3  1.2  5.6  6.4
  2.6 17.2  3.9  4.   2.8  5.   2.3  3.6  3.3  3.8  5.1  3.5  2.   7.4
  2.4  8.3  6.1  4.1  3.2  5.4  6.8  9.9  7.1  4.2  4.3  3.4  6.6  8.5
  8.7  5.5  8.2  8.4  8.8]
================================================================================
 SNWD has 28 value/s:
 [ 0.   3.9  5.9  3.1  1.2  2.   5.1 11.   7.9  7.1  9.8  9.1 25.2 18.9
 13.  11.8 15.  14.2 16.1 20.9 16.9 20.1 22.8 18.1  6.   7.   1.   3. ]
================================================================================
 TMAX has 124 value/s:
 [ 65.   74.   43.   39.   61.   34.   76.   28.   58.   77.   54.   44.
  60.   50.   48.   75.   30.   63.   56.   64.   70.   62.   67.   57.
  66.   33.   59.   32.   69.   36.   42.   41.   40.   31.   45.   82.
  71.   29.   83.   47.   53.   26.   20.   51.   68.   22.   73.   78.
  55.   38.    6.   52.   46.   35.   37.   79.   72.   49.   27.   80.
  24.    5.   81.   84.   85.   13.    3.   19.   21.   18.   15.   12.
  25.   11.    1.    8.   16.   17.   23.   14.   10.    7.    9.  -10.
   4.    0.   -2.   -7.    2.   75.9  88.   87.   86.   89.   90.   91.
  96.  103.   99.   93.   97.  104.   94.   92.  100.   98.  101.   95.
 102.  110.  106.  105.  107.  112.  111.  109.  108.   85.7 115.  114.
 113.   83.9  68.9  63.2]
================================================================================
 AWND has 130 value/s:
 [ 2.91  9.62  6.71  2.01  9.17  7.61  9.84  7.38 11.41 12.08 10.07  6.93
 15.66  3.8  10.51  2.24  6.26  3.36  4.92  4.25  5.82 18.12  8.72  4.03
 12.3   8.5  13.42 19.01 10.74  8.95  7.16  9.4  11.63 13.87 14.09 16.78
 13.65 23.71  4.7  12.53  3.58  8.05  5.37 12.97 10.96 14.32  1.79 11.18
  6.49  0.89  5.59 14.99  7.83  4.47  6.04 15.21 14.54  1.34 17.45  5.14
 10.29  8.28 17.   13.2  16.55  3.13 11.86 21.47 18.34 16.33 17.67 15.43
 20.13  1.57  2.46 20.36 16.11 17.9  15.88 19.24 18.79 12.75 17.22 19.46
  2.68 26.62  1.12 14.76 19.69 22.82 20.8  19.91 21.03 23.04 18.57 21.92
 20.58 22.37  0.    0.67 22.15 23.26 24.83 22.59 21.25 25.05 24.38 29.3
 24.61 27.07 30.42 26.4  25.5  28.63 25.28 28.19 21.7  32.88 27.96 33.78
 32.44 25.95 23.94  5.    9.5   0.45 24.16 25.72  6.4  23.49]

In [16]:
# .info(): return all information about the dataframe 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6489062 entries, 0 to 6489061
Data columns (total 26 columns):
 #   Column                         Dtype
---  ------                         -----
 0   MONTH                          int64
 1   DAY_OF_WEEK                    int64
 2   DEP_DEL15                      int64
 3   DEP_TIME_BLK                   object
 4   DISTANCE_GROUP                 int64
 5   SEGMENT_NUMBER                 int64
 6   CONCURRENT_FLIGHTS             int64
 7   NUMBER_OF_SEATS                int64
 8   CARRIER_NAME                   object
 9   AIRPORT_FLIGHTS_MONTH          int64
 10  AIRLINE_FLIGHTS_MONTH          int64
 11  AIRLINE_AIRPORT_FLIGHTS_MONTH  int64
 12  AVG_MONTHLY_PASS_AIRPORT       int64
 13  AVG_MONTHLY_PASS_AIRLINE       int64
 14  FLT_ATTENDANTS_PER_PASS        float64
 15  GROUND_SERV_PER_PASS           float64
 16  PLANE_AGE                      int64
 17  DEPARTING_AIRPORT              object
 18  LATITUDE                       float64
 19  LONGITUDE                      float64
 20  PREVIOUS_AIRPORT               object
 21  PRCP                           float64
 22  SNOW                           float64
 23  SNWD                           float64
 24  TMAX                           float64
 25  AWND                           float64
dtypes: float64(9), int64(13), object(4)
memory usage: 1.3+ GB

The data set contains a mixed type of data (int64, object, and float64).

<break>

Generate descriptive statistics for the numeric columns, it summarize the central tendency, 
dispersion and shape of a dataset’s distribution, excluding NaN values.

In [17]:
# Generate descriptive statistics for the numeric columns, it summarize the central tendency, 
df.describe()

,MONTH,DAY_OF_WEEK,DEP_DEL15,DISTANCE_GROUP,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,AIRPORT_FLIGHTS_MONTH,AIRLINE_FLIGHTS_MONTH,AIRLINE_AIRPORT_FLIGHTS_MONTH,...,FLT_ATTENDANTS_PER_PASS,GROUND_SERV_PER_PASS,PLANE_AGE,LATITUDE,LONGITUDE,PRCP,SNOW,SNWD,TMAX,AWND
count,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,...,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06,6.489062e+06
mean,6.607062e+00,3.935598e+00,1.891441e-01,3.821102e+00,3.046890e+00,2.783675e+01,1.337397e+02,1.268458e+04,6.296058e+04,3.459251e+03,...,9.753707e-05,1.355612e-04,1.153211e+01,3.670581e+01,-9.425515e+01,1.037063e-01,3.159310e-02,9.152397e-02,7.146846e+01,8.341329e+00
std,3.396853e+00,1.995200e+00,3.916231e-01,2.382233e+00,1.757864e+00,2.151060e+01,4.645213e+01,8.839796e+03,3.438223e+04,4.251139e+03,...,8.644459e-05,4.649970e-05,6.935706e+00,5.500804e+00,1.790952e+01,3.432134e-01,3.170163e-01,7.281285e-01,1.835333e+01,3.607604e+00
min,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,4.400000e+01,1.100000e+03,5.582000e+03,1.000000e+00,...,0.000000e+00,7.134695e-06,0.000000e+00,1.844000e+01,-1.593460e+02,0.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+01,0.000000e+00
25%,4.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,2.000000e+00,1.100000e+01,9.000000e+01,5.345000e+03,2.503400e+04,6.540000e+02,...,3.419267e-05,9.889412e-05,5.000000e+00,3.343600e+01,-1.063770e+02,0.000000e+00,0.000000e+00,0.000000e+00,5.900000e+01,5.820000e+00
50%,7.000000e+00,4.000000e+00,0.000000e+00,3.000000e+00,3.000000e+00,2.300000e+01,1.430000e+02,1.156200e+04,7.087800e+04,2.251000e+03,...,6.178236e-05,1.246511e-04,1.200000e+01,3.750500e+01,-8.790600e+01,0.000000e+00,0.000000e+00,0.000000e+00,7.400000e+01,7.830000e+00
75%,1.000000e+01,6.000000e+00,0.000000e+00,5.000000e+00,4.000000e+00,3.900000e+01,1.720000e+02,1.761500e+04,8.631200e+04,4.806000e+03,...,1.441659e-04,1.772872e-04,1.700000e+01,4.077900e+01,-8.093600e+01,2.000000e-02,0.000000e+00,0.000000e+00,8.600000e+01,1.029000e+01
max,1.200000e+01,7.000000e+00,1.000000e+00,1.100000e+01,1.500000e+01,1.090000e+02,3.370000e+02,3.525600e+04,1.177280e+05,2.183700e+04,...,3.484077e-04,2.289855e-04,3.200000e+01,6.116900e+01,-6.600200e+01,1.163000e+01,1.720000e+01,2.520000e+01,1.150000e+02,3.378000e+01

Describe the categorical columns

In [18]:
# Select the categorical columns
df.describe(include='O')

,DEP_TIME_BLK,CARRIER_NAME,DEPARTING_AIRPORT,PREVIOUS_AIRPORT
count,6489062,6489062,6489062,6489062
unique,19,17,96,356
top,0800-0859,Southwest Airlines Co.,Atlanta Municipal,NONE
freq,452391,1296329,392603,1449009

For the object data type. The result includes 'count', 'unique', 'top', and 'freq'
'top' gives the most common values while 'freq' gives the most common value frequency.

#### Cleaning Data.

In [22]:
# Null values, the totall number of missing values at each column
df.isnull().sum()

MONTH                            0
DAY_OF_WEEK                      0
DEP_DEL15                        0
DEP_TIME_BLK                     0
DISTANCE_GROUP                   0
SEGMENT_NUMBER                   0
CONCURRENT_FLIGHTS               0
NUMBER_OF_SEATS                  0
CARRIER_NAME                     0
AIRPORT_FLIGHTS_MONTH            0
AIRLINE_FLIGHTS_MONTH            0
AIRLINE_AIRPORT_FLIGHTS_MONTH    0
AVG_MONTHLY_PASS_AIRPORT         0
AVG_MONTHLY_PASS_AIRLINE         0
FLT_ATTENDANTS_PER_PASS          0
GROUND_SERV_PER_PASS             0
PLANE_AGE                        0
DEPARTING_AIRPORT                0
LATITUDE                         0
LONGITUDE                        0
PREVIOUS_AIRPORT                 0
PRCP                             0
SNOW                             0
SNWD                             0
TMAX                             0
AWND                             0
dtype: int64

No missing data was observed.